@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <button type="button" class="btn btn-success disabled mx-1 my-1">
                Connected Client Count <span id="span-connected-client-count" class="badge text-bg-secondary">0</span>
            </button>
            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-all-client">Send All Clients</button>
            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-caller-client">Send Caller Client</button>
            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-other-client">Send Other Client</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr-client.js"></script>
}