@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">


            <div id="connectionId" class="alert alert-primary" role="alert">
            </div>

            <button type="button" class="btn btn-success disabled mx-1 my-1">
                Connected Client Count <span id="span-connected-client-count" class="badge text-bg-secondary">4</span>
            </button>

            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-all-client">Send to all clients</button>
            <button class="btn btn-primary mx-1 my-1" id="btn-send-typed-message-all-client">Send typed message to all clients</button>
            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-caller-client">Send to the requesting client</button>

            <button class="btn btn-primary mx-1 my-1" id="btn-send-message-others-client">Send to other clients</button>

            <div>
                <hr />

                <input type="text" class="form-control mx-1 my-1" id="text-connectionId" placeholder="Connection Id">
                <button class="btn btn-primary mx-1 my-1" id="btn-send-message-individual-client">Send to specific client</button>
            </div>

            <div>
                <hr />
                <div id="groupList" class="alert alert-warning" role="alert">
                </div>


                <button class="btn btn-primary mx-1 my-1" id="btn-groupA-add">Join group A</button>

                <button class="btn btn-primary mx-1 my-1" id="btn-groupA-remove">Leave group A</button>

                <button class="btn btn-primary mx-1 my-1" id="btn-groupB-add">Join group B</button>

                <button class="btn btn-primary mx-1 my-1" id="btn-groupB-remove">Leave group B</button>


                <button class="btn btn-primary mx-1 my-1" id="btn-groupA-send-message">Send message to group A</button>

                <button class="btn btn-primary mx-1 my-1" id="btn-groupB-send-message">Send message to group B</button>

            </div>



        </div>

    </div>


</div>

@section Scripts {
    <script src="~/js/signalr-client.js"></script>
}
